<!-- tabla paises -->
<div>
    <h1>Países</h1>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>#</th>
                <th>País</th>
                <th>Continente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pais of paises; let i = index">
                <th>{{ i + 1 }}</th>
                <td>
                    {{ pais.nombre }}
                </td>
                <td>
                    {{ pais.continente }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

