<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Verdura</th>
                <th>Color</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Tomate</td>
                <td>Rojo</td>
                <td>30</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Zanahoria</td>
                <td>Naranja</td>
                <td>25</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Cebolla</td>
                <td>Blanca</td>
                <td>35</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Chayote</td>
                <td>Verde</td>
                <td>36</td>
            </tr>
        </tbody>
    </table>
</div>