<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Ejemplo de Album</h1>
                <p class="lead text-muted">Aqui va la descripcion de lo que queremos mostrar mas abajo</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Accion Principal</a>
                    <a href="#" class="btn btn-secondary my-2">Accion secundaria</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                            [src]="'https://www.dccomics.com/sites/default/files/styles/comics320x485/public/comic-covers/2022/07/BMSMWF_Cv5_00511_DIGITAL_62c7c5f57f63c7.35596750.jpg?itok=Q_74X0BM' "
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Esta tarjeta permite que se agregue texto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                            [src]="'https://www.dccomics.com/sites/default/files/styles/comics320x485/public/comic-covers/2022/07/ART_WANT_Cv1_00111_DIGITAL_62c7c5eca7e598.86715568.jpg?itok=MtNZRv2s' "
                            alt="Card image cap">
                        <div class=" card-body">
                            <p class="card-text">Esta tarjeta permite que se agregue texto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                            [src]="'https://www.dccomics.com/sites/default/files/styles/comics320x485/public/comic-covers/2022/07/AQFLS-VS_Cv2_00211_C1_DIGITAL_62c7c5e61a6b24.15372534.jpg?itok=1624Tu2P' "
                            alt="Acuaman & the Flash">
                        <div class=" card-body">
                            <p class="card-text">Esta tarjeta permite que se agregue texto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                                        type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>